<section>
  <div class="container-card flex" style="margin-bottom: 4rem;">
    <div class="left">
      <div class="main_image">
        <img src="src/imagens-servico/<%= servico.CAMINHO_IMAGEM_SERVICO %>" class="slide">
      </div>

    </div>
    <div class="right">
      <h3>
        <%= servico.NOME_SERVICO %>
      </h3>
      <h4>
        <%= servico.PRECO_SERVICO %>
      </h4>
      <p>
        <%= servico.DESCRICAO_SERVICO %>
      </p>
      <h5>Portes aceitos</h5>
      <div class="portes">

        <% if(servico.PORTES_PERMITIDOS.includes("Pequeno")){%><span><img src="src/cliente-empresa/porte1.png" alt="">
            <p>P</p>
          </span>
          <%} %>
            <% if(servico.PORTES_PERMITIDOS.includes("Médio")){%><span><img src="src/cliente-empresa/porte2.png" alt="">
                <p>M</p>
              </span>
              <%} %>
                <% if(servico.PORTES_PERMITIDOS.includes("Grande")){%><span><img src="src/cliente-empresa/porte3.png"
                      alt="">
                    <p>G</p>
                  </span>
                  <%} %>

      </div>
      <h5>Obs: Os pagamentos são realizados de forma presencial.</h5>
      <!-- <h5>Number</h5>
      <div class="add flex1">

        <span>+</span>
        <p>Adicionar Carterinha</p>
      </div> -->

      <button class="btn-cadbuy" data-openModal="#scheduleModal">Agendar</button>
    </div>
  </div>
</section>

<div id="scheduleModal" class="modal <%= openModal ? 'show': '' %>">
  <div class="modal-content">
    <div class="modal-header">
      <h2>Agendar Horário</h2>
      <span class="close closeBtn">&times;</span>
      <form action="/findHorariosByData?idServico=<%=servico.ID_SERVICO%>" method="post">
        <label for="date">Escolha o dia:</label>
        <input type="date" id="data" name="data" required class="<%= erroData ? 'invalid' : ''%>"
          value="<%= dataSelecionada ? dataSelecionada : '' %>">
        <span>
          <%= erroData ? erroData.msg : '' %>
        </span>
        <button>Buscar</button>
      </form>
    </div>
    <div class="modal-body">
      <% if(horarios){%>
        <form action="/agendarHorario?idServico=<%= servico.ID_SERVICO %>" method="post">
          <input type="hidden" name="dataAgenda" value="<%= dataSelecionada %>">
          <% if(myPets && myPets.length > 0){ %>
            <select name="myPet" id="myPet">
                <option disabled selected>Selecione o seu pet</option>
                <% myPets.forEach(pet=>{ 
                  if(servico.PORTES_PERMITIDOS.includes(pet.PORTE_PET)){ %>
                    <option value="<%= pet.ID_PET %>"><%= pet.NOME_PET %></option>
                  <% } })%>
            </select>
        <% } %>
          <% if(horarios.length> 0 ){ 
            horarios.forEach(horario=>{ %>
            <div class="item">
              <div>
                <i class='bx bx-time'></i>
                <div class="event-info">
                  <label for="horario<%= horario.ID_HORARIO_SERVICO %>">
                    <%= horario.HORARIO_SERVICO.slice(0, 5) %>
                  </label>
                  <input type="radio" name="horarioAgenda" id="horario<%=horario.ID_HORARIO_SERVICO %>"
                    value="<%= horario.ID_HORARIO_SERVICO %>" required  >
                </div>
              </div>
              <i class='bx bx-dots-horizontal-rounded'></i>
            </div>
            
            <% }) %>
            <button class="btn-cadbuy" type="submit">Agendar</button>
         <% }else {%>
            <h2>Não há horarios para essa data!</h2>
           <% }%>
              
        </form>
        <%}%>
    </div>

  </div>
</div>

<!-- <div class="product-main">

  <h2 class="title">Nossos Serviços</h2>

  <div class="product-grid">

    <div class="showcase">

      <div class="showcase-banner">

        <img src=" /src/img-homepage/washing-pet-dog-home.jpg" alt="Mens Winter Leathers Jackets" width="300"
          class="product-img default">

        <p class="showcase-badge">15%</p>

      </div>

      <div class="showcase-content">
        <a href="/buySer" class="showcase-category">Banho basico</a>
        <a href="/buySer">
          <h3 class="showcase-title">Um banho comum</h3>
        </a>

        <div class="price-box">
          <p class="price">R$48.00</p>
          <del>R$75.00</del>
        </div>

      </div>

    </div>

    <div class="showcase">

      <div class="showcase-banner">

        <img src=" /src/img-homepage/washing-pet-dog-home.jpg" alt="Mens Winter Leathers Jackets" width="300"
          class="product-img default">

        <p class="showcase-badge angle black">sale</p>


      </div>

      <div class="showcase-content">
        <a href="#" class="showcase-category">Tosa</a>

        <h3>
          <a href="#" class="showcase-title">Apenas a Tosa</a>
        </h3>

        <div class="price-box">
          <p class="price">R$45.00</p>
          <del>R$56.00</del>
        </div>

      </div>

    </div>

    <div class="showcase">

      <div class="showcase-banner">

        <img src=" /src/img-homepage/washing-pet-dog-home.jpg" alt="Mens Winter Leathers Jackets" width="300"
          class="product-img default">

      </div>

      <div class="showcase-content">
        <a href="/buySer" class="showcase-category">Banho e Tosa</a>

        <h3>
          <a href="/buySer" class="showcase-title">Os dois em um só</a>
        </h3>


        <div class="price-box">
          <p class="price">R$58.00</p>
          <del>R$65.00</del>
        </div>

      </div>

    </div>

    <div class="showcase">

      <div class="showcase-banner">

        <img src="/src/img-homepage/washing-pet-dog-home.jpg" alt="Mens Winter Leathers Jackets" width="300"
          class="product-img default">

        <p class="showcase-badge angle pink">new</p>


        <div class="showcase-content">
          <a href="#" class="showcase-category">Banho premium</a>

          <h3>
            <a href="#" class="showcase-title">O melhor para o seu pet</a>
          </h3>



          <div class="price-box">
            <p class="price">$85.00</p>
            <del>$105.00</del>
          </div>

        </div>

      </div>


    </div>

  </div>

</div> -->
<script>
  function setTodayIfEmpty() {
    const dateInput = document.getElementById("data");

    if (!dateInput.value) {
      const today = new Date();
      const year = today.getFullYear();
      const month = String(today.getMonth() + 1).padStart(2, '0');
      const day = String(today.getDate()).padStart(2, '0');
      dateInput.value = `${year}-${month}-${day}`;
    }
  }
  window.onload = setTodayIfEmpty;
</script>
<script src="js/abrirModal.js"></script>