<% if(servicos && servicos.length>0){
    servicos.forEach(servico =>{ %>

<div class="showcase-content">
    <a href="/favoritar?id= <%= servico.ID_SERVICO %> &sit=<%= servico.FAVORITOS"> 
        <i class="fa-regular fa-heart <%= servico.FAVORITOS "></i>
    </a>
    <a href="/buySer?idServico=<%=servico.ID_SERVICO %>" class="showcase-category"><%=servico.NOME_SERVICO %></a>
    <a href="/buySer?idServico=<%=servico.ID_SERVICO %>">
      <h3 class="showcase-title"><%=servico.DESCRICAO_SERVICO %></h3>
    </a>

    <div class="price-box">
    <p><%= servico.PRECO_SERVICO %></p>
    </div>

  </div>

  <% }) } %>
