<label for="<%= name %>" class="labelFile  <%= name %>" style="<%= (hasBg && urlBg) ? `background: url(${urlBg}); background-size: cover; background-position: center;` : '' %>">
    <span><i class="bi bi-cloud-arrow-up"></i></span>
    <p><%= text %></p>
</label>
<input class="input" id="<%= name %>" name="<%= name %>" type="file" onchange="previewImage(this, '<%= name %>')" />