<%  let classeErro={ 
  "email" :"",
  "senha" :"", 
} 

let msgErro={
  "email" :"",
  "senha" :"",
}

if(errors){ 
  errors.errors.forEach(function(erro){ 
  classeErro[erro.path]='invalido'; 
  msgErro[erro.path]=erro.msg 
}) } %>


      <div class="box">
        <div class="inner-box">
          <div class="forms-wrap">

            <form action="/logarEmpresa" method="post" >
              <% if(incorreto) { %>
                <h3 class="alert">usuário ou senha incorretos</h3>
            <% } %>
              
              <div class="logo">
                <img src="src/dashboard/logo.png" alt="logo" />
              </div>

              <div class="heading">
                <h2>Bem vindo devolta</h2>
                <h6>Não tem uma conta comercial ainda?</h6>
                <a href="/cadastroEmpresa" class="toggle">Cadastrar</a>
              </div>

              <div class="actual-form">
                <form action=""></form>
<div class="">
  <section class="input-field <%= classeErro.email %>">
    <i class="fas fa-envelope"></i>
    <input name="email" id="email"  type="text"   placeholder="<%= msgErro.email ? msgErro.email : 'Email' %>"
    value="<%= msgErro.email ? '' : (valores.email || '') %>" />
 </section>
              </div>
              <div class="">
                <section class="input-field <%= classeErro.senha %>">
                  <i class="fas fa-lock"></i>
                  <input id="senha" name="senha" required type="password" placeholder="<%= msgErro.senha ? msgErro.senha : 'Insira sua senha' %>"
                  value="<%= msgErro.senha ? '' : (valores.senha || '') %>"  />

                  <button onclick="togglePassword('senha')" style="border: none;">
                    <span class="material-symbols-outlined">
                      visibility_off
                      </span> <!-- Ícone de olhinho -->
                </button>

               </section>
               <h6>Senha deve conter um número, uma letra maiúscula, uma letra minúscula e um dos símbolos </h6>

            </div>

           
             <a href="/"> <button class="sign-btn" type="submit">Entrar </button></a>
           
              <div class="recupereSenha">
                <p class="text">
                  Esqueceu sua senha?
                  <a href="/esqueceuSenha">Recupere a senha</a> para entrar
                </p>
                </div>

              </div>
            </form>

            
          </div>

          <div class="carousel">
            <div class="images-wrapper">
              <img src="./img/image1.png" class="image img-1 show" alt="" />
              <img src="./img/image2.png" class="image img-2" alt="" />
              <img src="./img/image3.png" class="image img-3" alt="" />
            </div>

            <div class="text-slider">
              <div class="text-wrap">
                <div class="text-group">
                  <h2>A Boxpets conecta clientes </h2>
                  <h2>e profissionais de serviços pet</h2>
                  <h2> de forma ágil e confiável.</h2>
                </div>
              </div>

              <div class="bullets">
                <span class="active" data-value="1"></span>
                <span data-value="2"></span>
                <span data-value="3"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <script src="/js/notificacao.js"></script>

    
      <script>
        function togglePassword(passwordFieldId) {
            const passwordInput = document.getElementById(passwordFieldId);
            const button = passwordInput.nextElementSibling;
            const eyeIcon = button.querySelector(".material-symbols-outlined");
    
            // Alterna entre "password" e "text"
            const isPassword = passwordInput.type === 'senha';
            passwordInput.type = isPassword ? 'text' : 'senha';
    
            // Altera o ícone conforme o tipo de input
            eyeIcon.innerHTML = isPassword ? 'visibility' : 'visibility';
        }
    </script>