<style>
  .btns__diaSemana {
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
    align-items: center;
  }

  .btn-dia {
    background: none;
    border: none;
    text-wrap: nowrap;
    padding: .2rem;

    &.ativo {
      background: #000;
      color: white;
    }
  }

  .upcoming .events {
    display: none;
  }

  .upcoming .events.ativo {
    display: flex;
  }

  .modal {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    backdrop-filter: blur(10px);
    z-index: 1000;
    width: 100%;
    height: 100%;

    &.show {
      display: flex;
    }

    & .modal-content {
      padding: 1rem;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.473);
      background: white;
      width: 100%;
      max-width: 768px;
      border-radius: 10px;
      margin: auto;
    }

    & .closeBtn {
      position: absolute;
      width: fit-content;
      height: fit-content;
      padding: 0.3rem;
      top: 0;
      right: 0;
      margin: 10px;
    }
  }

  .servicos {
    display: flex;
    gap: 3%;
    scroll-snap-align: start;
  }
</style>
<article>
  <div class="servicos">
    <% if(servicos && servicos.length>0){
      servicos.forEach(servico =>{ %>

      <div class="showcase">
        <div class="showcase-banner">

          <img src="/src/imagens-servico/<%= servico.CAMINHO_IMAGEM_SERVICO %>" alt="Imagem do servico" width="300"
            style="border-radius: 20%;" class="product-img default">

        </div>

        <div class="showcase-content">
          <a href="/buySer" class="showcase-category">
            <%= servico.NOME_SERVICO %>
          </a>
          <a href="/agendamento?idServico=<%=servico.ID_SERVICO%>" class="showcase-category">
            Ver agenda do serviço
          </a>

        </div>

      </div>
      <% }) } else{ %>
        <h4>Você não possui serviços</h4>
        <%}%>
  </div>

  <% if(servico){ %>

    <!-- conteudo que será exibido ao clicar no card -->
    <div class="upcoming" id="content-agenda">
      <h1>Agenda do <%=servico.NOME_SERVICO %></h1>
      <div class="upcoming-box">


        <div class="btns__diaSemana">
          <button data-btnSection="Domingo" class="btn-dia ativo">Domingo</button>
          <button data-btnSection="Segunda" class="btn-dia">Segunda-feira</button>
          <button data-btnSection="Terça" class="btn-dia">Terça-feira</button>
          <button data-btnSection="Quarta" class="btn-dia">Quarta-feira</button>
          <button data-btnSection="Quinta" class="btn-dia">Quinta-feira</button>
          <button data-btnSection="Sexta" class="btn-dia">Sexta-feira</button>
          <button data-btnSection="Sábado" class="btn-dia">Sábado</button>
        </div>

        <div class="events ativo" data-section="Domingo">
            <%- include("./horariosItems",{diaSemana:1}) %>
        </div>
        <div class="events" data-section="Segunda">
            <%- include("./horariosItems",{diaSemana:2}) %>
        </div>
        <div class="events" data-section="Terça">
            <%- include("./horariosItems",{diaSemana:3}) %>
        </div>
        <div class="events" data-section="Quarta">
            <%- include("./horariosItems",{diaSemana:4}) %>
        </div>
        <div class="events" data-section="Quinta">
            <%- include("./horariosItems",{diaSemana:5}) %>
        </div>
        <div class="events" data-section="Sexta">
            <%- include("./horariosItems",{diaSemana:6}) %>
        </div>
        <div class="events" data-section="Sábado">
            <%- include("./horariosItems",{diaSemana:7}) %>
        </div>

        <div class="item-adicionar" data-openmodal="#modalCriarHorario">
          <div>
            <i class='bx bx-time'></i>
            <div class="event-info">
              <a href="#">Adicionar Horário</a>
            </div>
          </div>
          <i class='bx bx-dots-horizontal-rounded'></i>
        </div>

      </div>
    </div>



    <div class="modal" id="modalCriarHorario">
      <button class="closeBtn"><span class="material-symbols-outlined">close</span></button>
      <div class="modal-content">
        <form action="/criarHorario?idServico=<%= servico.ID_SERVICO %>" method="post">
          <div class="inputs">

            <select name="diaSemana" id="diaSemana">
              <option value="1">Domingo</option>
              <option value="2">Segunda-feira</option>
              <option value="3">Terça-feira</option>
              <option value="4">Quarta-feira</option>
              <option value="5">Quinta-feira</option>
              <option value="6">Sexta-feira</option>
              <option value="7">Sábado</option>
            </select>
            <input type="time" name="horario" id="horario" placeholder="Horario" required>

            <button type="submit">Enviar</button>

            <div class="events ativo">
              <div class="item">
                <div class="event-info">
                  <a href="#">Horário 1</a>
                  <p>10:00-11:30</p>
                </div>
              </div>
            </div>

          </div>
        </form>
      </div>
    </div>
    <%}%>

</article>

<script src="js/toggleSection.js"></script>
<script src="js/abrirModal.js"></script>

<script>
  function showContent(id) {
    const content = document.getElementById(`content-${id}`);
    content.style.display = content.style.display === "none" ? "block" : "none";
  }


</script>