


<article>
  <div class="logo-empresa">

    <form action="/attlogoEmpresa" method="post" enctype="multipart/form-data" data-formAuto>
      <div class="logo">
        <% if(empresa.LOGO_IMG){%>
          <img src="./src/imagens-empresa/logo-empresa/<%= empresa.LOGO_IMG %>" alt="Logo da empresa">
          <% } %>
            <label for="imgLogo">
              <span class="material-symbols-outlined">
                download
              </span>
            </label>
      </div>

      <input type="file" name="imgLogo" id="imgLogo" class="input__control" placeholder="Selecione sua foto de Logo"
        data-inputFoto data-inputAtiva required style="display:none;">
    </form>
    <h1>
      <%= empresa.NOMEEMPRESA_USUARIO %>
    </h1>
  </div>

  <form action="/attbannerEmpresa" method="post" enctype="multipart/form-data" data-formAuto>
    <section class="bannerForm">

      <% if(empresa.BANNER_IMG){%>
        <img src="./src/imagens-empresa/banner-empresa/<%= empresa.BANNER_IMG %>" alt="Banner da empresa">
        <% } %>
          <label for="imgBanner">
            <span class="material-symbols-outlined">
              download
            </span>
          </label>

          <input type="file" name="imgBanner" id="imgBanner" class="input__control imgBanner"
            placeholder="Selecione sua foto de Banner" data-inputFoto data-inputAtiva required style="display:none;">
    </section>
  </form>

  <form action="/alterarInfosGerais" method="post">

    <section class="container">
      <section class="category-item-container has-scrollbar">

        <section class="category-item">
          <span class="material-symbols-outlined">
            schedule
          </span>
          <input type="text" name="horarioInicio" id="horarioInicio" value="<%= empresa.INFO_GERAIS.horarioInicio %>"
            placeholder="horario de inicio" required>

          <input type="text" name="horarioFim" id="horarioFim" value="<%= empresa.INFO_GERAIS.horarioFim %>"
            placeholder="horario de fim" required>
        </section>

        <section class="category-item">
          <span class="material-symbols-outlined">
            home_pin
          </span>
          <input type="text" name="local" id="local" value="<%= empresa.INFO_GERAIS.localizacao %>"
            placeholder="localização" required>
        </section>

        <section class="category-item">
          <span class="material-symbols-outlined">
            maps_ugc
          </span>
          <input type="text" name="whatsapp" id="whatsapp" value="<%= empresa.INFO_GERAIS.whatsapp %>"
            placeholder="whatsapp" required>
        </section>

      </section>
    </section>
    <textarea class="descricaoForm" id="descricao" name="descricao" rows="4" cols="50"
      placeholder="coloque a descrição do seu serviço aqui" required
      style="resize: none;"><%= empresa.INFO_GERAIS.descricao %></textarea>
    <button class="btn-servico">Atualizar informações gerais</button>
  </form>


  <div class="btn-servico abrir-modal" data-openmodal="#modalCriarServico">Adicionar serviço</div>

  <h2 style="margin: 5%;">Serviços</h2>
  <section class="servicos-container" style="margin: 5%;">
    <% if(servicos && servicos.length>0){
      servicos.forEach(servico =>{ %>
      <div class="showcase">
        <a href="/editar-servico?idServico=<%=servico.ID_SERVICO%>" title="Editar serviço"><span
            class="material-symbols-outlined">edit</span></a>
        <a data-openmodal="#modalServico<%=servico.ID_SERVICO %>" style="cursor:pointer" title="Deletar serviço"><span
            class="material-symbols-outlined">delete</span></a>
        <div class="showcase-banner">

          <img src="/src/imagens-servico/<%= servico.CAMINHO_IMAGEM_SERVICO %>" alt="Imagem do servico"
            width="300" style="border-radius: 20%;" class="product-img default">

        </div>

        <div class="showcase-content">
          <a href="/buySer" class="showcase-category">
            <%= servico.NOME_SERVICO %>
          </a>
          <a href="/buySer">
            <h3 class="showcase-title">
              <%= servico.DESCRICAO_SERVICO %>
            </h3>
          </a>

          <div class="price-box">
            <p class="price" style="color: black;">
              <%= servico.PRECO_SERVICO %>
            </p>
          </div>

        </div>

      </div>
      <div class="modal" id="modalServico<%=servico.ID_SERVICO %>">
        <div class="modal-content">
          <h1>Excluir serviço?</h1>
          <h2>A exclusão do serviço é permanente e irreversivel!<br> Deseja prosseguir?</h3>
          <form action="/deletarServico?idServico=<%=servico.ID_SERVICO %>" method="post">
              <button class="submit">Confirmar</button>
              <div class="closeBtn cancelarBtn">Cancelar</div>
            </form>
        </div>
      </div>
      <% }) } else{ %>
        <h4>Você não possui serviços</h4>
        <%}%>

  </section>


  <div class="modal" id="modalCriarServico">
    <button class="closeBtn"><span class="material-symbols-outlined">close</span></button>
    <div class="modal-content">
      <h1>Adicionar Serviço</h1>
      <form action="/criarServico" method="post" enctype="multipart/form-data">
        <%- include('./form-criarServico.ejs') %>
          <button class="btn-servico">Adicionar serviço</button>
      </form>
    </div>
  </div>
  <% if(servico){%>
    <div class="modal show" id="modalEditarServico">
      <button class="closeBtn"><span class="material-symbols-outlined">close</span></button>
      <div class="modal-content">
        <h1>Editar Serviço</h1>
        <form action="/editarServico?idServico=<%= servico.ID_SERVICO %>" method="post" enctype="multipart/form-data">
          <%- include('./form-criarServico.ejs') %>
            <button class="btn-servico">Editar serviço</button>
        </form>
      </div>
    </div>
    <%}%>

</article>

<script src="js/abrirModal.js"></script>
<script src="js/inputFormAtiva.js"></script>

<script>
  const priceInputs = document.querySelectorAll(".precoServico");
  priceInputs.forEach(priceInput => {
    priceInput.addEventListener("input", () => {
      let value = priceInput.value;
      value = value.replace(/\D/g, "");

    if (parseInt(value) > 500000) {
      value = "500000";
    }
    value = (value / 100).toLocaleString("pt-BR", {
      style: "currency",
      currency: "BRL",
    });
    priceInput.value = value;
  });
});

const textarea = document.getElementById("descricao");

textarea.addEventListener("input", function () {
    this.style.height = "auto"; // Reseta a altura para recalcular
    this.style.height = `${this.scrollHeight}px`; // Define a altura conforme o conteúdo
});


</script>

<style>

.servicos-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 25px;
 
}
  @media (min-width: 500px) { .servicos-container { grid-template-columns: repeat(2, 1fr);  } }
@media (min-width: 800px) { .servicos-container{ grid-template-columns: repeat(3, 1fr);  } }
</style>