<div class="main-content">
    <main>
        <div class="page-content">
            <div class="records table-responsive">
                <div>
                    <table width="100%">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th><span class="las la-sort"></span> CLIENTE</th>
                                <th><span class="las la-sort"></span> SERVIÇO</th>
                                <th><span class="las la-sort"></span> DATA</th>
                                <th><span class="las la-sort"></span> HORÁRIO</th>
                                <th><span class="las la-sort"></span> STATUS</th>
                                <th><span class="las la-sort"></span> Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% if(agendamentos){ agendamentos.forEach(agenda=>{ %>
                                <tr>
                                    <td>
                                        <%= agenda.cliente.ID_CLIENTE %>
                                    </td>
                                    <td>
                                        <div class="client">
                                            <div class="client-img bg-img"
                                                style="background-image: url('./src/fotos-perfil/<%=agenda.cliente.img_perfil_pasta%>')">
                                            </div>
                                            <div class="client-info">
                                                <h4>
                                                    <%= agenda.cliente.NOME_CLIENTE %>
                                                </h4>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <%= agenda.servico.NOME_SERVICO %>
                                    </td>
                                    <td>
                                        <% const date=new Date(agenda.DATA_AGENDAMENTO); const
                                            dia=String(date.getDate()).padStart(2, '0' ); const
                                            mes=String(date.getMonth() + 1).padStart(2, '0' ); const
                                            ano=date.getFullYear(); %>
                                            <%= `${dia}/${mes}/${ano}` %>
                                    </td>
                                    <td>
                                        <%= agenda.HORARIO_AGENDAMENTO %>
                                    </td>
                                    <td>
                                        <% if(agenda.ID_STATUS==1) {%>
                                            <span class="paid-aguarde">Marcado</span>
                                            <%}else if(agenda.ID_STATUS==2){%>
                                                <span class="paid-concluido">Concluido</span>
                                                <%}else if(agenda.ID_STATUS==3){%>
                                                    <span class="paid-cancelado">Cancelado</span>
                                                    <%}%>
                                    </td>
                                    <td>
                                        <button data-openModal="#cancelarAgenda<%=agenda.ID_AGENDAMENTOS %>"
                                            title="Cancelar agendamento">Cancelar</button>
                                            <% if(agenda.ID_STATUS==1) {%>

                                            <% } %>
                                    </td>
                                </tr>

                                <div class="modal" id="cancelarAgenda<%=agenda.ID_AGENDAMENTOS %>">
                                    <button class="closeBtn"><span
                                            class="material-symbols-outlined">close</span></button>
                                    <div class="modal-content">
                                        <h1>Cancelar agendamento?</h1>
                                        <p style="color: black;">Essa ação é irreversível e será notificada ao cliente.</p>
                                        <form action="/cancelarAgenda?idAgendamento=<%= agenda.ID_AGENDAMENTOS %>"
                                            method="post" enctype="multipart/form-data">
                                            <button class="btn-servico">Confirmar</button>
                                            <button class="btn-servico cancelarBtn">Voltar</button>
                                        </form>
                                    </div>
                                </div>
                                <%}) }%>

                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </main>
</div>

<script src="js/abrirModal.js"></script>