

      <!--Banner do dashboard-->
      <div class="meio">
    <section class="about-section">
        <h2 class="header-section">Bem Vindo <span> <%= nomeempresa %> </span></h2>
        <p class="description-section">
           Veja os últimos acontecimentos e a sua página comercial aqui.
        </p>
    </section>
    <div class="analytics">
        <div class="item">
            <div class="progress">
                <div class="info">
                    <h5>Histórico</h5>
                    <p>Veja as atividades em seus serviços.</p>
                </div>
            </div>
            <i  class="material-symbols-outlined"> history </i>
        </div>
        <div class="item">
            <div class="progress">
                <div class="info">
                    <h5>Página Comercial</h5>
                    <p>Veja sua página comercial.</p>
                </div>
               
            </div>
            <i class="material-symbols-outlined">  store </i>
        </div>
    </div>
    <div class="right-section">
        <!--adicionar empresa-->
      <div class="reminders">
          <div class="header">
              <h2>Adicionar Serviços</h2>
              <p>Assim que sua empresa será visualizada na pagina de serviços gerais</p>
            
          </div>

          <div class="notification">

            

              <div class="icon">
                    <% if(empresa.LOGO_IMG){%>
                        <img src="./src/imagens-empresa/logo-empresa/<%= empresa.LOGO_IMG %>" alt="Logo da empresa">
                        <% } %>
              </div>
              <div class="content">
                  <div class="info">
                      <h3> <%= NOMEEMPRESA_USUARIO %></h3>
                      <small class="text_muted">
                        <%= empresa.INFO_GERAIS.horarioInicio %> <%= empresa.INFO_GERAIS.horarioFim %>
                      </small>
                  </div>
                  <span class="material-symbols-outlined">
                      chevron_right
                      </span>
              </div>
          </div>


          <!-- <div class="notification add-reminder">
              <div>
                  <span class="material-icons-sharp">
                      Clique
                  </span>
                  <h3>Adicionar Mais</h3>
              </div>
          </div>

      </div>
  </div>

      <div class="separator">
        <div class="info">
            <h3>Sua Agenda</h3>
           
        </div>
        <input type="date" value="2024-10-18">
    </div>

    <div class="planning">
        <div class="item">
            <div class="left">
            
                <div class="details">
                    <h5>Disponível</h5>
                    <p>8:00 - 10:00</p>
                </div>
            </div>
           
        <a href="#">View All</a>
    </div> -->


  

    </div>



     <!--Banner do dashboard-->
 

      <!--parte de cima-->

   
  
</div>










</div>