<!-- REGISTER PAGE -->
<% 

let avisoErro={ 
  "nome" :"", 
  "nasc" :"", 
  "cpf" :"", 
  "celular" :"", 
  "email" :"", 
  "password" :"", 
} 

  let msgErro = ""

  if(errors){

    errors.errors.forEach(function(erro){

      if(erro.path == "nome"){
        avisoErro.nome = "invalido"
         msgErro += `- ${erro.path}: <br> <strong>${erro.msg}</strong> <br>`
      }

      if(erro.path == "celular"){
        avisoErro.celular = "invalido"
          msgErro += `- ${erro.path}: <br> <strong>${erro.msg}</strong> <br>`
      }

      if(erro.path == "email"){
        avisoErro.email = "invalido"
          msgErro += `- ${erro.path}: <br> <strong>${erro.msg}</strong> <br>`
      }

      if(erro.path == "password"){
        avisoErro.password = "invalido"
         msgErro += `- ${erro.path}: <br> <strong>${erro.msg}</strong> <br>`
      }
      if(erro.path == "cpf"){
        avisoErro.cpf = "invalido"
          msgErro += `- ${erro.path}: <br> <strong>${erro.msg}</strong> <br>`
      }
      if(erro.path == "nasc"){
        avisoErro.nasc = "invalido"
          msgErro += `- ${erro.path}: <br> <strong>${erro.msg}</strong> <br>`
      }


    })
  if(msgErro != ""){
  %>
  <script>
    let msgErro = "<%= msgErro %>";
    newNotify(
      "Valores inválidos!", 
    "Verifique o(s) campo(s) <br>" + msgErro.replace(/&lt;/g,"<").replace(/&gt;/g,">"),
    "error", 
    "center",
    5000
  )
  </script>
    <% }
  } %>

  

  <form action="/cadastrarCliente" class="sign-up-form" method="post">
    <h2 class="title">Cadastrar</h2>
    

    
    <section class=" input-field <%= avisoErro.nome %>">

      <i class="fas fa-user"></i>
      <input id="nome" name="nome" value="<%= valores ? valores.nome : '' %>" required type="text" placeholder="Nome completo"/>

    </section>


    <section class= "input-field <%= avisoErro.nasc %>">

      <i class="fas fa-user"></i>
      <input id="nasc" name="nasc" value="<%= valores ? valores.nasc : '' %>" required type="date" placeholder="Data de nascimento"/>

    </section>
    <section class="input-field <%= avisoErro.cpf %>">

      <i class="fas fa-user"></i>
      <input id="cpf" name="cpf" value="<%= valores ? valores.cpf : '' %>" required type="text" placeholder="CPF"/>

    </section>
    <section class="input-field <%= avisoErro.celular %>">

      <i class="fas fa-user"></i>
      <input id="celular" name="celular" value="<%= valores ? valores.celular : '' %>" required type="text" placeholder="Celular:" />

    </section>
    <section class="input-field <%= avisoErro.email %>">

      <i class="fas fa-envelope"></i>
      <input name="email" id="email" value="<%= valores ? valores.email : '' %>" required type="email" placeholder="Email" />

    </section>
    <section class="input-field <%= avisoErro.password %>">

      <i class="fas fa-lock"></i>
      <input id="password" name="password" value="<%= valores ? valores.password : '' %>" required type="password" placeholder="Senha" title="Deve conter pelo menos um número, uma letra maiúscula, uma letra minúscula e um dos símbolos (!, @, #, $, %, *) e ter pelo menos 8 ou mais caracteres" />

    </section>
    
    <div class="aviso-senha">
      <h1>Senha deve conter um número, uma letra maiúscula, uma letra minúscula e um dos símbolos </h1>
    </div>
    
    <section id="messagesection"></section>
    <input type="submit" class="btn" value="Cadastrar" />
  </form>

  <script src="/js/notificacao.js"></script>