<section class="category">
    <section class="category-item-heading">
        <h3>Todas nossas empresas de <span>Banho-tosa</span></h3>
       </section>
    <section class="container">
        <section class="category-item-container has-scrollbar">

            <section class="lado">
            <section class="coluna1">
                <a href="/VizucriaPg">
          

                    <div class="notification">

                        <% empresas.forEach(element => { %>
                        <a href="Vizucriapg/<%= element.ID_USUARIOS %>">
                            <div class="icon">
                                <% if(element.LOGO_IMG && element.LOGO_IMG !== null && element.LOGO_IMG !== undefined) { %>
                                    <img src="./src/imagens-empresa/logo-empresa/<%= element.LOGO_IMG %>" alt="Logo da empresa">
                                <% } else { %>
                                    <img src="./src/imagens-empresa/logo-empresa/default-logo.png" alt="Logo da empresa">
                                <% } %>
                            </div>
                            
                            <div class="content">
                                <div class="info">
                                    <h3> 
                                        <%= element.NOMEEMPRESA_USUARIO || "" %> 
                                    </h3>
                                    <small class="text_muted">
                                        <%= (element.INFO_GERAIS && element.INFO_GERAIS.horarioInicio) || "" %> 
                                        <%= (element.INFO_GERAIS && element.INFO_GERAIS.horarioFim) || "" %>
                                    </small>
                                </div>
                                <span class="material-symbols-outlined">
                                    chevron_right
                                </span>
                            </div>
                        </a>
                        <% }) %>
                          
                      </div>
          
            </section>

            
        <section class="coluna2">
            
  
            

        </section>

        <section class="coluna3">

    
           

        </section>
    </section>
            

        </section>
    </section>
</section>
 <style>
        .notification .icon {
        width: 100px;
        height: 100px;
        background: aqua;
        border-radius: 50%;
        position: relative;
    
        & img {
          border-radius: 50%;
          width: inherit;
          height: inherit;
          object-fit: cover;
        }
    }
 </style>