<style>
  .header_top{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
    & .btn-criar{
      margin-top: 10px;
    }
    .mds{

    }
  }
</style>

<div class="header_top">
  <h2>Crie sua Carteirinha</h2>
  <a class="btn-criar" href="/criar-carterinha" >Criar Carteirinha</a>
</div>

<div id="cardContainer" class="card-container" >

  <% if (pets) { pets.forEach(pet=> {%>
  
    <div class="card">
     

      <img src="./src/fotos-pet/<%= pet.img_pet %>" alt="foto do pet">
      <div class="info-pets">
        <h3>
          <%= pet.NOME_PET %>
        </h3>
        <p>
          <%=pet.IDADE_PET %>
        </p>
        <p>
          <%=pet.SEXO_PET %>
        </p>
        <p>
          <%=pet.PORTE_PET%>
        </p>
        <p>
          <%=pet.RACA_PET%>
        </p>
      </div>
      <div class="mds">
        <a href="/edit-carteirinha?idPet=<%=pet.ID_PET %>" class="" style="color: var(--preto);" ><span class="material-symbols-outlined">edit   </span></a>
        <button data-openModal="#verCarteira<%=pet.ID_PET %>" class="" style="color: var(--preto); background: none;"><span class="material-symbols-outlined">delete </span></button>
      </div>
    </div>

    <div class="modal" id="verCarteira<%=pet.ID_PET %>" class="modal">
      <div class="modal-content">
        <button class="closeBtn">
          <span class="close">&times;</span>
        </button>
        <h2>Excluir Carteirinha Pet de <%= pet.NOME_PET%>?</h2>
        <p>Essa ação é irreversivel! Deseja prosseguir?</p>
        <form action="/excluirPet?idPet=<%=pet.ID_PET %>" method="post" style="display: flex; align-items: center; gap: 1rem; justify-content: center;margin-top: 10px;">
          <button>Excluir carteirinha</button>
          <div class="cancelarBtn">Cancelar</div>
        </form>
      </div>
    </div>
    <% }) } %> <!-- As carteirinhas serão adicionadas aqui -->
</div>


<!-- Modal -->
 <% if(modalAberto){%>
<div class="modal show" id="criarCarteirinha">

  <button class="closeBtn">
    <span class="close">&times;</span>
  </button>
  <div class="modal-content">
    <h2>Preencha os dados da Carteirinha</h2>
    <form id="cardForm" action="/criarCarterinhaPet" method="post" enctype="multipart/form-data">
      <%- include("./form-servico") %>
        <button type="submit">Criar</button>

    </form>
  </div>
</div>
<%}%>
<% if(pet) {%>
  <div class="modal show">
    <div class="modal-content">
      <button class="closeBtn">
        <span class="close">&times;</span>
      </button>
      <h2>Editar carteirinha de <%= pet.NOME_PET%></h2>
      <form id="cardForm" action="/editarCarterinhaPet?idPet=<%= pet.ID_PET %>" method="post" enctype="multipart/form-data">
        <%- include("./form-servico") %>
          <button type="submit">Salvar</button>
      </form>

    </div>
  </div>
  <% } %>
    <script src="./js/carterinha-pet.js"></script>
    <script src="./js/addPerfil.js"></script>
    <script src="./js/abrirModal.js"></script>
    <script src="./js/notificacao.js"></script>