<% if (typeof dadosNotificacao !=="undefined" ) { %>
    <script>
        newNotify("<%= dadosNotificacao.title %>", "<%= dadosNotificacao.msg %>", "<%= dadosNotificacao.type %>");
    </script>
    <% } %>



        <div class="ola-fulano">
            <h1>Bem-vindo(a), <span>
                    <%= nome %>
                </span>!</h1>
            <p>Estamos felizes em tê-lo(a) conosco. Aproveite nossa plataforma!</p>
        </div>

        <section class="capa">
            <section class="capa-img">
                <img src="/src/img-homepage/sharedimage.png" alt="" width="350">
            </section>

            <section class="servicos" id="servico">

                <h1 class="heading">Qual <span>serviço</span> te interessa?</h1>
                <section class="box-container">



                    <section class="box-ser"> <a href="/veterinarios?id=1">
                            <img src="/src/img-homepage/veterinario.jpg" alt="um dog no veterinario" class="image">
                            <section class="content">
                                <img src=" /src/img-homepage/paw.png" alt="vet" width="80px">
                                <h1>Veterinario</h1>
                            </section>
                        </a>
                    </section>

                    <section class="box-ser"> <a href="/veterinarios?id=2">
                            <img src="/src/img-homepage/banhotosa.jpg" alt="banho em um dog" class="image">
                            <section class="content">
                                <img src=" /src/img-homepage/grooming.png" alt="banhotosa" width="80px">
                                <h1>Banho&Tosa</h1>
                            </section>
                        </a>
                    </section>


                    <section class="box-ser"><a href="/veterinarios?id=3">
                            <img src="/src/img-homepage/adestramento.jpg" alt="Mulher pedindo a pata para o cachorro"
                                class="image">
                            <section class="content">
                                <img src=" /src/img-homepage/adestramentoIcon.png" alt="adestramento" width="80px">
                                <h1>Adestramento</h1>
                            </section>
                        </a>
                    </section>


                    <section class="box-ser"> <a href="/veterinarios?id=4">
                            <img src="/src/img-homepage/passeio.jpg" alt="passeio com os pets" class="image">
                            <section class="content">
                                <img src=" /src/img-homepage/walking.png" alt="passeio" width="80px">
                                <h1>Passeio</h1>
                            </section>
                        </a>
                    </section>

                    <section class="box-ser"><a href="/veterinarios?id=5">
                            <img src="/src/img-homepage/Creche.jpg" alt="cachorro em um gato na grama juntos"
                                class="image">
                            <section class="content">
                                <img src=" /src/img-homepage/welfare.png" alt="creche" width="80px">
                                <h1>Creche</h1>
                            </section>
                        </a>
                    </section>

                    <section class="box-ser"><a href="/veterinarios?id=6">
                            <img src="/src/img-homepage/55864_massagem.jpg" alt="" class="image">
                            <section class="content">
                                <img src=" /src/img-homepage/animal (1).png" alt="massoterapia" width="80px">
                                <h1>Massoterapia</h1>
                            </section>
                        </a>
                    </section>

                </section>
            </section>
            <a href="/servicos-gerais" class="arrow-servicogerais"><i class="fa-solid fa-arrow-right"></i></a>
        </section>
        </section>

        <!--carterinha -->

        <section class="carterinhapet">

            <article class="content_carterinhapet">
                <h3>Crie a <span> Carterinha pet!</span></h3>
                <p>Após criar a carteirinha do seu pet, o estabelecimento a receberá
                    junto com o seu agendamento para o serviço escolhido. </p>

                <article class="buttons">
                    <a href="/carterinha-pet" class="btn_carterinhapet">Crie Já!</a>
                </article>
            </article>
            <article class="image_carterinhapet">
                <img src="/src/img-homepage/cardpetBoxpetsHmpg-removebg-preview.png" alt="">
            </article>

        </section>

        <% if(servicos && servicos.length> 0) { %>

            <section class="bemavaliados">
                <section class="bemavaliados-item-heading">
                    <h3>Serviços</h3>
                </section>
                <section class="container">
                    <section class="bemavaliados-item-container has-scrollbar">
                        <% servicos.forEach(servico=> {%>
                            <section class="category-item">
                                <a href="/buySer?idServico=<%= servico.ID_SERVICO %>" class="category-img-box">
                                    <img src="/src/imagens-servico/<%=servico.CAMINHO_IMAGEM_SERVICO %>"
                                        alt="logo petsrio">
                                </a>

                                <section class="category-content-box">
                                    <section class="category-content-flex">
                                        <h3 class="category-item-title">
                                            <%= servico.NOME_SERVICO %>
                                        </h3>
                                    </section>
                                    <section class="category-item-des">
                                        <% if(servico.empresa.PLANOS==1) {%>
                                            <a href="/Vizucriapg?id=<%=servico.empresa.ID_USUARIOS %>"
                                                class="category-item-text">
                                                <%= servico.empresa.NOMEEMPRESA_USUARIO %>
                                            </a>
                                            <% }else{%>
                                                <p class="category-item-text">
                                                    <%= servico.empresa.NOMEEMPRESA_USUARIO %>
                                                </p>
                                                <% }%>
                                    </section>

                                </section>
                            </section>
                            <%})%>
                    </section>
                </section>
            </section>

            <% } %>



                <!--sugestões-->
                <% if(empresas && empresas.length> 0) { %>
                    <section class="sugestao">
                        <section class="sugestao-item-heading">
                            <h3>Empresas</h3>
                        </section>
                        <section class="sugestao-container">
                            <section class="sugestao-container has-scrollbar">
                                <% empresas.forEach(empresa=> {
                                    
                                    let categoria;

                                    if(empresa.ESPECIALIDADES_ID_ESPECIALIDADES == 1){
                                        categoria = 'Veterinário'
                                    }else if(empresa.ESPECIALIDADES_ID_ESPECIALIDADES == 2){
                                        categoria = 'Petshop'
                                    }else if(empresa.ESPECIALIDADES_ID_ESPECIALIDADES == 3){
                                        categoria = 'Adestramento'
                                    }else if(empresa.ESPECIALIDADES_ID_ESPECIALIDADES == 4){
                                        categoria = 'Passeio'
                                    }else if(empresa.ESPECIALIDADES_ID_ESPECIALIDADES == 5){
                                        categoria = 'Creche'
                                    }else if(empresa.ESPECIALIDADES_ID_ESPECIALIDADES == 6){
                                        categoria = 'Massoterapia'
                                    }
                                    %>
                                    <section class="sugestao-card">
                                        <section class="sugestao-card-img">
                                            <a href="/Vizucriapg?id=<%=empresa.ID_USUARIOS %>">
                                                <img src="src/imagens-empresa/banner-empresa/<%= empresa.BANNER_IMG %>" alt="" class="sugestao-banner">
                                            </a>
                                        </section>

                                        <section class="sugestao-content">
                                            <a href="/veterinarios?id=<%= empresa.ESPECIALIDADES_ID_ESPECIALIDADES %>" class="sugestao-category">
                                                <%= categoria %>
                                            </a>
                                            <a href="/Vizucriapg?id=<%=empresa.ID_USUARIOS %>">
                                                <p class="sugestao-des"><%= empresa.NOMEEMPRESA_USUARIO %></p>
                                            </a>
                                        </section>
                                    </section>
                                    <%})%>
                            </section>
                        </section>
                    </section>
                    <% } %>

                        <!--carrosel de empresas premiun

 <section class="carroselEmpresaPremium">
    <div class="container-empresaPremium">
        <span id="next-btn">&#10095;</span>
        <span id="prev-btn">&#10094;</span>
        <article class="time"></article>
    
        <section class="slidesrow">
            
            <div class="slide-empresaP" id="first-clone">
                <img src="/src/img-homepage/Banner-empresa.png" alt="">
                <div class="conteudo">
                    <h1>Pet Company Danilo – Pet Shop</h1>
                    <p>Serviços de Banho e Tosa, Leva e Traz e Disk Entrega. Loja e acessórios para cães e 
                        gatos – Ração, Brinquedos, Roupas, Medicamentos e Vacinas</p>
                       <p class="end">Endereço: Av. Zelina, 499, Vila Zelina, São Paulo/SP, 
                        CEP 03143-001</p>
                        <p class="contato"><i class="fa-brands fa-whatsapp"></i> (11) 98542-0154</p>
                    </div>
                   
            </div>
    
            <div class="slide-empresaP">
                <img src="/src/img-homepage/Banner-empresa2.png" alt="">
                <div class="conteudo">
                    <h1>Pet Company Danilo – Pet Shop</h1>
                    <p>Serviços de Banho e Tosa, Leva e Traz e Disk Entrega. Loja e acessórios para cães e 
                        gatos – Ração, Brinquedos, Roupas, Medicamentos e Vacinas</p>
                       <p class="end">Endereço: Av. Zelina, 499, Vila Zelina, São Paulo/SP, 
                        CEP 03143-001</p>
                        <p class="contato"><i class="fa-brands fa-whatsapp"></i> (11) 98542-0154</p>
                    </div>
                   
            </div>
    
            <div class="slide-empresaP">
                <img src="/src/img-homepage/Banner-empresa.png" alt="">
                <div class="conteudo">
                    <h1>Pet Company Danilo – Pet Shop</h1>
                    <p>Serviços de Banho e Tosa, Leva e Traz e Disk Entrega. Loja e acessórios para cães e 
                        gatos – Ração, Brinquedos, Roupas, Medicamentos e Vacinas</p>
                       <p class="end">Endereço: Av. Zelina, 499, Vila Zelina, São Paulo/SP, 
                        CEP 03143-001</p>
                        <p class="contato"><i class="fa-brands fa-whatsapp"></i> (11) 98542-0154</p>
                    </div>
                   
            </div>
    
            <div class="slide-empresaP"  id="last-clone">
                <img src="/src/img-homepage/Banner-empresa2.jpg" alt="">
                <div class="conteudo">
                    <h1>Pet Company Danilo – Pet Shop</h1>
                    <p>Serviços de Banho e Tosa, Leva e Traz e Disk Entrega. Loja e acessórios para cães e 
                        gatos – Ração, Brinquedos, Roupas, Medicamentos e Vacinas</p>
                       <p class="end">Endereço: Av. Zelina, 499, Vila Zelina, São Paulo/SP, 
                        CEP 03143-001</p>
                        <p class="contato"><i class="fa-brands fa-whatsapp"></i> (11) 98542-0154</p>
                    </div>
            </div>
    
           
        </div>
        
    </section>-->

                        <!--ABOUT-->
                        <!-- <section class="about-section">
<h2 class="header-section">Transforme a vida do seu pet em uma <span>experiência única!</span></h2>
<p class="description-section">
    Assine agora e garanta acesso prioritário a dicas de profissionais , 
    recomendações de locais de cuidados pet e muito mais. Seu melhor amigo merece o melhor.
     Assine hoje e faça parte da família <span> BoxPets! </span>
</p>

</section> -->

                        </section>

                        </section>
                        </section>
                        </section>