<% 
let arquivo = { imagem: "imagem/img-perfil.png" };

if (valores && valores.img_perfil_pasta != null) {
  arquivo.imagem = valores.img_perfil_pasta;
} else if (valores && valores.img_perfil_banco != null) {
  arquivo.imagem = valores.img_perfil_banco;
}

let msgErro = "";
let avisoErro = { nome_cli: "", email_cli: "", nomecli_cli: "", celular_cli: "", cep: "", imagem: "" };

if (avisoErro && avisoErro.errors) {
  avisoErro.errors.forEach(function(itemErro) {

    if (itemErro.path == "nome_cli") {
      avisoErro.nome_cli = "erro";
      msgErro += `* ${itemErro.msg} <br>`;
    }
    if (itemErro.path == "celular_cli") {
      avisoErro.celular_cli = "erro";
      msgErro += `* ${itemErro.msg} <br>`;
    }

    if (itemErro.path == "email_cli") {
      avisoErro.email_cli = "erro";
      msgErro += `* ${itemErro.msg} <br>`;
    }

    if (itemErro.path == "cpf_cli") {
      avisoErro.cpf_cli = "erro";
      msgErro += `* ${itemErro.msg} <br>`;
    }

    if (itemErro.path == "nasc_cli") {
      avisoErro.nasc_cli = "erro";
      msgErro += `* ${itemErro.msg} <br>`;
    }

    if (itemErro.path == "senha_cli") {
      avisoErro.senha_cli = "erro";
      msgErro += `* ${itemErro.msg} <br>`;
    }
  });
}

if (msgErro != "") { %>
  <script>
    let msgErro = "<%= msgErro %>";
    notify("Erro no preenchimento", "Verifique o(s) campo(s): <br>" + msgErro.replace(/&lt;/g, "<").replace(/&gt;/g, ">"), "error", "center", 5000);
  </script>
<% }  %>


<div class="container">
  <h1 id="TituloPerfil">Perfil</h1>
  <p>Lorem ipsum dolor sit amet consectetur.</p>

  
    <div id="areaTwoContent">
      <div class="sessao-foto">
        <div id="areaFoto">
          <div>
          <form id="Fotoperfil" action="/atualizarFoto" method="post" enctype="multipart/form-data">
            <article data-fotoContainer >
              <img src="./src/fotos-perfil/<%= foto %>" alt="" class="foto__img">
            </article>
            <input type="file" name="imgPerfil" id="imgPerfil" class="input__control imgPerfil <%= avisoErro.imgPerfil %>"
            placeholder="Selecione sua foto de perfil" data-inputFoto required>
              
            </form>
            <script>
              document.getElementById('imgPerfil').addEventListener('change', function() {
                document.getElementById('Fotoperfil').submit();
              });
            </script>
            <% if (foto != "imgUser.png"){ %>
              <form action="/excluirFoto" method="post" enctype="multipart/form-data">
                <button class="btnDelete">Deletar</button>
              </form>
              <% }  %>
            

          </div>
        </div>
        <p>Recomendamos fotos com resolução de 256×256px</p>
      </div>
    </div>

<form action="/info-atualizar" method="post" >
    <div id="areaInformacoesPerfil">
      <section  class="input-field <%= avisoErro.nome %>">
        <i class="fas fa-user"></i>
        <input id="nome" name="nome_cli" value="<%= valores ? valores.nome_cli : '' %>"  required type="text" placeholder="Nome completo" />
      </section>

      <section class="input-field <%= avisoErro.nasc %>">
        <i class="fas fa-user"></i>
        <input id="nasc" name="nasc_cli" value="<%= valores ? valores.nasc_cli : '' %>" required type="date" placeholder="Data de nascimento" readonly />
      </section>

      <section class="input-field <%= avisoErro.cpf %>">
        <i class="fas fa-user"></i>
        <input id="cpf" name="cpf_cli" value="<%= valores ? valores.cpf_cli : '' %>" required type="text" placeholder="CPF" readonly />
      </section>

      <section class="input-field <%= avisoErro.celular %>">
        <i class="fas fa-user"></i>
        <input id="celular" name="celular_cli" value="<%= valores ? valores.celular_cli : '' %>" required type="text" placeholder="Celular:" />
      </section>

      <section class="input-field <%= avisoErro.email %>">
        <i class="fas fa-envelope"></i>
        <input name="email_cli" id="email_cli" value="<%= valores ? valores.email_cli : '' %>" required type="email" placeholder="Email" readonly />
      </section>

      <!-- <section class="input-field <%= avisoErro.senha %>">
        <i class="fas fa-envelope"></i>
        <input name="senha" id="senha_cli" value="<%= valores ? valores.senha : '' %>"  type="senha" placeholder="senha" />
      </section> -->

      <button class="btn-maior">Atualizar Dados</button> 

    </div>
  </form>
   
</div>

<script src="./js/addPerfil.js"></script>